#chat-container {
  flex: 1;
  margin-top: 80px;
  margin-bottom: 180px;
}

#chat-container .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-area {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  z-index: 1000;
  transition: bottom 0.3s;
}

.input-bar {
  padding: 10px !important;
  background: var(--secondary-bg);
  box-shadow: 0 4px 15px var(--shadow-color);
  display: flex;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  align-items: flex-end;
}

.input-bar textarea {
  width: calc(100% - 60px);
  height: 51px;
  min-height: 50px;
  max-height: 150px;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  color: var(--primary-text);
  font-size: 1rem;
  scrollbar-color: var(--accent-color) var(--secondary-bg);
}

.input-bar button.send {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: none;
  background: var(--accent-color);
  color: var(--primary-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-size: 1.2rem;
}

.input-bar button.send:hover {
  background: var(--accent-hover);
  color: var(--primary-bg);
}

@media (max-width: 576px) {
  .input-bar {
    padding: 10px;
    gap: 5px;
  }

  .input-bar textarea {
    padding: 5px;
    height: 41px;
    min-height: 40px;
  }

  .input-bar button.send {
    width: 40px;
    height: 40px;
    min-width: 40px;
    font-size: 0.9rem;
  }
  .input-area:has(textarea:focus) {
    bottom: 10px;
  }
}
