footer {
  background: var(--primary-bg);
  color: var(--secondary-text);
  padding: 10px 0;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.footer-container .socials {
  display: flex;
  gap: 15px;
}

.footer-container .socials a {
  color: var(--secondary-text);
  font-size: 1.2rem;
}

.footer-container .socials a:hover {
  color: var(--accent-hover);
}

@media (max-width: 576px) {
  footer {
    padding: 5px 0;
  }
  .footer-container p {
    line-height: 1.2;
    font-size: 0.6rem;
    max-width: 250px;
    text-align: start;
  }
  .footer-container .socials {
    gap: 5px;
  }
  .footer-container .socials a {
    font-size: 1rem;
    padding-inline: 5px;
  }
}
