footer {
  background: var(--primary-bg);
  color: var(--secondary-text);
  padding: 10px 0;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 -25px 30px var(--primary-bg);
}

.footer-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.footer-container p {
  line-height: 1.2;
  font-size: 0.6rem;
  text-align: center;
}

@media (max-width: 576px) {
  footer {
    padding: 5px 0;
  }
  .footer-container .socials {
    display: none;
  }
  .footer-container:has(p) {
    justify-content: center;
  }
}
