header {
  background: var(--primary-bg);
  padding: 15px 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
}

header a:has(.logo) {
  color: var(--secondary-text);
  text-decoration: none;
}

header a:has(.logo):hover {
  color: var(--primary-text);
}

header .btn {
  background: var(--primary-bg);
}

header .btn:hover {
  background: var(--secondary-bg);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  header {
    padding: 10px 0;
  }
}
