.info-container {
  padding: 30px 20px;
  margin: 20px auto;
  max-width:900px;
  color: var(--primary-text);

  line-height: 1.6;
  font-size: 0.95rem;
  word-wrap: break-word;
}

.info-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: var(--accent-color);
}

.info-container div,
.info-container p {
  margin: 10px;
  line-height: 1.7;
  font-size: 1rem;
}

.info-container a {
  color: var(--accent-link);
}

.info-container ul {
  margin-right: 30px;
}

@media (max-width: 576px) {
  .info-container {
    padding: 15px 12px;
  }

  .info-container h2 {
    font-size: 1.3rem;
  }

  .info-container p {
    font-size: 0.9rem;
    margin: 8px 0;
  }
}
